@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    background-color: #1c1c1c;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    padding: 0;
    font-size:3em;
    background-color: red;
    background-image: linear-gradient(45deg, #bba4dd, #5927a5);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .container {
    /*outline: 5px dotted green;*/
    margin-top: 80px;
    height:25em;
    padding: 20px;
    color:white;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;
    gap: 75px;
  }

  .content {
    text-align: center;
    margin-bottom: 0 10px;
  }

  .content img {
    width: 256px; /* Adjust image width as needed */
    height: 256px; /* Maintains aspect ratio */
  }
  
  .containerSupport {
    color:white;
    /*outline: 5px dotted red;*/
    margin-top:10px;
    height:23em;
    text-align: center;
  }

  .containerSupport h1 {
    font-size:3em;
    display: inline-block;
  }

  .containerSupport h3 {
    font-size:2.5em;
    display: block;
  }

  .containerSupport a {
    color: #bba4dd;
    text-decoration: none;
  }

  footer {
    /*outline: 5px dotted purple;*/
    margin-top:10px;
    color: white;
    height:3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer h1 {
    margin: 0;
    padding: 0;
    font-size:2.5em;
  }